/* layout */
#header {
    width: 100%;
    background: #001932;
}
#banner_bg {
    width: 100%;
}
#main {
    margin-top: 50px;
}
#footer {
    background-color: #001932;
    margin-top: 50px;
    padding: 50px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header_inner {
    display: flex;
    align-items: center;
    height: 63px;
}
.logo {
    margin-right: 30px;
}
.logo svg g path {
    transition: fill 0.3s;
}
.logo:hover svg g path {
    fill: #ba0707;
}
.nav {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav .gnb {
    display: flex;
}
.nav .gnb li {
    padding: 0 25px;
}
.nav .gnb li a {
    display: block;
    padding: 18px 0;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    position: relative;
}
.nav .gnb li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ba0707;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.nav .gnb li a:hover::after {
    opacity: 1;
    width: 100%;
}
/* .nav .gnb li a:hover {
    border-bottom: 3px solid #ba0707;
    margin-bottom: -3px;
} */
.nav .lnb {
    display: flex;
}
.nav .lnb li {
}
.nav .lnb li a {
    color: #fff;
    font-size: 13px;
    padding: 10px;
}
.nav .lnb li a:hover {
    color: #ba0707;
}
.nav .lnb li.login a {
    background-color: #ba0707;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.nav .lnb li.login a:hover {
    background-color: #6d0202;
    color: #fff;
}

/* banner */
#banner {
    width: 100%;
    position: relative;
}
#banner img {
    width: 100%;
}
.banner_txt {
    position: absolute;
    top: 25%;
    left: 10%;
}
.banner_txt h1 {
    font-size: 3.5em;
    color: #fff;
    line-height: 1.3;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 10px;
}
.banner_txt p {
    font-size: 1.6em;
    width: 60%;
    line-height: 1.4;
    color: #fff;
}
.banner_txt .more {
    width: 180px;
    height: 45px;
    background-color: #ba0707;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.banner_txt .more:hover {
    background-color: #6d0202;
}

/* menu */
#menu {
    width: 100%;
    background-color: #001932;
    font-size: 15px;
}
.menu_inner {
    display: flex;
    justify-content: space-between;
}
.icon_menu {
    display: flex;
}
.icon_menu li {
    padding: 30px 0;
    margin-right: 20px;
}
.icon_menu li a {
    color: #fff;
}
.icon_menu li a span {
    margin: 0 5px;
}
.icon_menu li a:hover {
    color: #ba0707;
}
.fee li {
    padding: 30px 0;
}
.fee li a {
    color: #fff;
}
.fee li a span {
    margin-right: 5px;
}
.fee li a:hover {
    color: #ba0707;
}

/* main */
.small_title {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}
.title {
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    line-height: 1;
}

/* content01 */
.content01 {
    width: 100%;
    display: flex;
    gap: 2%;
    margin-top: 40px;
}
.content02 {
    width: 100%;
    display: flex;
    gap: 2%;
    margin-top: 40px;
}

.box_bg {
    flex: 1;
    background-color: #ddd;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.box_img {
    width: 100%;
}
.box_img img {
    width: 100%;
}
.box_txt {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}
.box_txt h4 {
    margin-bottom: 10px;
}
.box_txt p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.content03 {
    margin-top: 40px;
}
.bottomBox_bg {
    width: 100%;
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}
.bottomBox_img {
    width: 35%;
}
.bottomBox_img img {
    width: 100%;
}
.bottomBox_txt {
    width: 65%;
    padding: 5%;
    box-sizing: border-box;
}

/* footer */
#footer h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.sub_menu {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
.sub_menu span {
    padding: 0 20px;
    font-weight: 800;
    color: #999;
}
.sub_menu span a {
    color: #fff;
    font-weight: 400;
}
.footer_menu {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}
.footer_menu ul {
    width: 25%;
}
.footer_menu ul li {
    color: #999;
    margin-bottom: 15px;
}
.footer_menu ul li a {
    color: #fff;
}
.footer_menu ul li.firstMenu i {
    display: none;
}
.delta_desc {
    font-size: 13px;
    text-align: center;
    color: #999;
    margin-top: 80px;
}
.delta_desc li {
    line-height: 23px;
    margin-bottom: 10px;
}
.delta_desc li span {
    color: #fff;
}
.footer_sns {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
}
.footer_sns li {
    width: 33.333%;
    text-align: center;
    position: relative;
}
.footer_sns li a {
    color: #fff;
}
.footer_sns li:nth-child(1) {
    font-size: 26px;
}
.footer_sns li:nth-child(2) a {
    vertical-align: -10px;
}
.footer_sns li:nth-child(2) a .fa-globe {
    font-size: 26px;
}
.footer_sns li:nth-child(2) a span {
    vertical-align: 3px;
    padding-left: 10px;
}
.footer_sns li:nth-child(3) a {
    font-weight: 800;
    vertical-align: -7px;
}
.footer_sns li::after {
    content: "";
    width: 1px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 0;
}
.footer_sns li:nth-child(3)::after {
    display: none;
}
