.hero .swiper-button-next,
.hero .swiper-button-prev {
    color: #ba0707;
}
.hero .swiper-pagination-bullet {
    background: #ba0707;
}

@media (max-width: 780px) {
    .hero .swiper-button-next,
    .hero .swiper-button-prev,
    .hero .swiper-pagination-bullet {
        display: none;
    }
}
